html {
  font-size: 60%;
  scroll-behavior: smooth;
}

/* responsive navbar starts */
.display-btn,
.hide-btn {
  transition: 0.4s;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.display-btn {
  float: right;
}

#toggle {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

@media screen and (max-width: 900px) {

  .display-btn,
  .hide-btn {
    display: block;
    color: white;
  }

  ul {
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    left: -100%;
    top: 0;
    align-items: center;
    transition: 800ms;
  }

  .nav-links li a,
  button {
    font-size: 4rem;
  }

  button {
    background-color: transparent;
    color: #ccc;
  }

  button:hover {
    color: #ffa807;
    background-color: transparent;
  }

  .hide-btn {
    position: absolute;
    top: 20px;
    right: 80px;
    font-size: 30px;
  }

  #toggle:checked~ul {
    left: 0;
  }
}

/* responsive navbar ends */


@media only screen and (max-width: 1300px) {
  .main-area .banner-area .line-1 {
    font-size: 1.5rem;
  }

  .main-area .banner-area .line-2 {
    font-size: 5rem;
  }

  .main-area .about-area .about-info-area .about-me-info {
    font-size: 2.3rem;
  }

  .main-area .about-area .about-me-img-responsive {
    width: 80%;
    height: 50%;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 1100px) {


  /* main section starts */

  /* banner area starts */
  .main-area .banner-area .banner-img {
    display: none;
  }

  .main-area .banner-area .banner-msg-area {
    padding: 0;
    text-align: center;
  }

  .main-area .banner-area .line-1 {
    font-size: 3rem;
  }

  .main-area .banner-area .line-2 {
    font-size: 8.5rem;
  }

  .main-area .banner-area .line-3 {
    font-size: 4rem;
  }

  /* banner area ends */

  /* about-me area starts */

  .about-me-img {
    display: none;
  }

  .about-img-area-responsive {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .about-me-img-responsive {
    display: flex;
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 30px 0;
  }

  /* about-me area ends */


  /* main section ends */

}

@media only screen and (max-width: 720px) {

  .about-me-img-responsive {
    width: 80%;
  }

  /* banner area starts */
  .main-area .banner-area .line-1 {
    font-size: 2rem;
  }

  .main-area .banner-area .line-2 {
    font-size: 6rem;
  }

  .main-area .banner-area .line-3 {
    font-size: 3rem;
  }

  .main-area .banner-area .banner-btn-area .resume-btn,
  .main-area .banner-area .banner-btn-area .hire-me-btn {
    font-size: 2.5rem;
  }

  /* banner area ends */

  /* contact area starts */

  .contact-area {
    padding: 0;
  }

  .main-area .contact-area .flex-container {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .main-area .contact-area .social-section .small-msg {
    margin-top: 20px;
  }

  .main-area .contact-area .flex-container .social-section {
    width: 80%;
  }

  .main-area .contact-area .flex-container .social-section {
    order: 3;
  }

  .main-area .contact-area .social-section .small-msg {
    order: 2;
  }

  .main-area .contact-area .social-icons-section .social-icons img {
    margin-right: 10px;
  }

  .main-area .contact-area .social-icons-section {
    font-size: 1.6rem;
  }

  /* contact area endss */


  .main-area .about-area .about-info-area .about-me-info {
    font-size: 2rem;
  }

}