/* google fonts starts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
/* google fonts ends */

/* universal styling starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* universal styling ends */

/* setting the font-size for rem */
html {
  font-size: 60%;
  scroll-behavior: smooth;
}

body {
  background: black;
}

/* header section starts */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  color: white;
  min-height: 15vh;
  max-height: 15vh;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li,
header a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  padding: 0 2rem 0 5rem;
  font-weight: 900;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  font-size: 22px;
  color: #ccc;
}

.nav-links li a:hover {
  color: #ffa807;
}

button {
  padding: 9px 20px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 22px;
  color: black;
}

button:hover {
  background-color: #ffa807;
}


/* header section ends */

/* main section starts */
/* banner section starts */


.main-area .banner-area {
  min-height: 85vh;
  max-height: 85vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
}

.main-area .banner-area .banner-msg-area {
  padding: 0 10vh 0 0;
}

.main-area .banner-area .line-1 {
  color: #ffbd39;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.main-area .banner-area .line-2 {
  color: #ffc107ec;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 7rem;
  font-weight: 600;
}

.main-area .banner-area .banner-highlighted-text {
  color: #fff;
}

.main-area .banner-area .line-3 {
  color: #fff;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
}

.main-area .banner-area .banner-btn-area {
  margin-top: 2rem;
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
}

.main-area .banner-area .banner-msg-area .hire-me-btn {
  border-radius: 2px;
  outline: 0;
  background: #ffbd39;
  color: black;
  border: 1px solid #ffbd39;
  text-transform: uppercase;
  margin-right: 1.5rem;
  padding: 0.1rem 0.8rem;
}

.main-area .banner-area .banner-msg-area .hire-me-btn:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
  transition: 500ms;
}

.main-area .banner-area .banner-msg-area .resume-btn {
  border-radius: 3px;
  outline: 0;
  background: transparent;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 0.1rem 0.8rem;
}

.main-area .banner-area .banner-msg-area .resume-btn:hover {
  background: #ffbd39;
  color: black;
  border: 1px solid #ffbd39;
  transition: 500ms;
}

.main-area .banner-area .banner-img {
  height: 550px;
  width: 550px;
}

/* banner section ends */

/* about-me area starts */
.main-area .about-area {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 10%;
}

.main-area .about-area .about-me-img {
  width: 80%;
  height: auto;
  margin: 0;
}

.about-me-img-responsive {
  display: none;
}

.main-area .about-area .about-info-area {
  order: 2;
}

.main-area .about-area .about-info-area .about-me-heading {
  color: #ffbd39cc;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  text-shadow: 5px 6px rgba(170, 170, 170, 0.219);
  text-align: center;
}

.main-area .about-area .about-info-area .about-me-info {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.6rem;
  padding: 1rem 2.5rem;
  text-align: center;
}

.main-area .about-area .about-info-area .about-me-highlighted-text {
  color: yellow;
}

.main-area .about-area .about-info-area .about-me-highlighted-text:hover {
  color: #ffbd39;
  transition: 1s;
  cursor: pointer;
}

.main-area .about-area .about-info-area .about-me-info .line-3 a {
  color: #007bff;
  text-decoration: none;
}

.main-area .about-area .about-info-area .about-me-info .line-3 a:hover {
  color: #015dbe;
  text-decoration: underline;
}


/* about-me area ends */

/* portfolio area starts */

.portfolio-area {
  padding: 0 2%;
  min-height: 100vh;
}

.main-area .portfolio-area .portfolio-heading {
  color: #ffbd39cc;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  text-shadow: 5px 6px rgba(170, 170, 170, 0.219);
  text-align: center;
  margin-bottom: 10vh;
}

.portfolio-cards-section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}

.portfolio-cards {
  font-size: 2rem;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  margin-bottom: 40px;
  transition: 400ms ease-in-out;
  cursor: pointer;
  background: rgba(105, 35, 180, 0.562);
  padding: 0 4rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
}

.portfolio-cards:hover {
  background: #141c3a;
}

.portfolio-cards:hover .visit-link a {
  border: 2px solid #7510F7;
}

.portfolio-cards .visit-link a {
  text-decoration: none;
  padding: 0.6rem 2rem;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  transition: 100ms ease-in-out;
}

.portfolio-cards .visit-link a:hover {
  background: #7510F7;
  color: white;
  border: 2px solid #7510F7;
}

/* portfolio area ends */

/* skills area starts */
.skills-area {
  min-height: 100vh;
  padding: 0 10%;
}

.main-area .skills-area .skills-heading {
  color: #ffbd39cc;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  text-shadow: 5px 6px rgba(170, 170, 170, 0.219);
  text-align: center;
  margin-bottom: 10vh;
}

.skills-cards-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-card img {
  height: 150px;
  width: 120px;
}

/* skills area ends */

/* contact area starts */
.contact-area {
  min-height: 100vh;
  padding: 0 15%;
  color: white;
}

.main-area .contact-area .contact-heading {
  color: #ffbd39cc;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  text-shadow: 5px 6px rgba(170, 170, 170, 0.219);
  text-align: center;
  margin-bottom: 10vh;
}

.main-area .contact-area .flex-container {
  display: flex;
  align-items: center;
  min-height: 60vh;
  justify-content: space-between;
}

.main-area .contact-area .flex-container .my-pic {
  border-radius: 20%;
}

.main-area .contact-area .flex-container .social-section {
  width: 55%;
}

.main-area .contact-area .social-section .small-msg {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

.main-area .contact-area .social-icons-section {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.main-area .contact-area .social-icons-section .social-icons {
  display: flex;
  align-items: center;
}

.main-area .contact-area .social-icons-section .social-icons img {
  margin-right: 3rem;
  cursor: pointer;
  transition: 300ms;
}

.main-area .contact-area .social-icons-section .social-icons img:hover {
  opacity: 0.7;
}

.main-area .contact-area .social-icons-section .social-icons a {
  text-decoration: none;
  color: white;
  transition: 300ms;
}

.main-area .contact-area .social-icons-section .social-icons a:hover {
  color: rgb(156, 154, 154);
}

/* contact area ends */

/* main section ends */

/* footer section starts */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  background: rgba(128, 128, 128, 0.1);
  padding: 1.5rem;
}

/* footer section ends */

/* scrollbar styling starts*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border-radius: 8px;
}

/* scrollbar styling ends*/